.grid-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  align-items: center;
  justify-content: center;
  gap: 40px;
}

@media screen and (min-width: 700px) {
  #cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1086px) {
  #cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
